.section{
    width: 100%;
    height: 100vh;
    background-color: #081024 ;
    text-align: center;
}
.main-card{
    display: flex;
    padding-left: 23rem;
    padding-top: 30px;
 }
.card-container{
    width: 350px;
    height: 400px;
    /* background-color: red; */
    border-radius: 0px;
    border: 1px solid rgb(77, 77, 77);
    /* margin-left: 5rem; */
    text-align: center;
    padding-top: 20px;
    margin: 0 1rem;
}
h4{
    padding-top: 70px;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
h2{
    font-size: 35px;
    color: #fff;
}
h3{
    font-size: 28px;
    font-weight: 800;
    color: #fff;
}
.artifical{
    font-size: 100px;
    padding-top: 30px;
    color: rgba(80, 83, 252, 0.719);
}
.piano{
    padding-top: 2rem;
    color: rgb(180, 179, 179);
}
.read-more{
    padding: 17px 40px;
    border-radius: 50px;
    border: 1px solid rgb(160, 136, 136);
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    background-color: #081024;
}
@media screen and (max-width:1230px) {
    .main-card{
        padding-left: 10rem;
    }
}
@media screen and (max-width:1100px){
    .main-card{
        padding-left: 2rem;
    }
}
@media screen and (max-width:650px){
    .main-card{
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding-left: 160px;
    }
    .card-container{
        width: 200px;
        height: 200px;
        /* background-color: red; */
        border-radius: 0px;
        border: 1px solid rgb(77, 77, 77);
        /* margin-left: 5rem; */
        text-align: center;
        padding-top: 20px;
        margin:  .5rem;
    }
    .piano{
        display: none;
    }
    .read-more{
        display: none;
    }
    h4{
    padding-top: 50px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    }
    h2{
        font-size: 25px;
        color: #fff;
    }
}